.channelTextArea-rNsIhG .scrollableContainer-2NUZem {
    background-color: var(--background-primary);
    border-width: 2px!important;
    border-style: solid;
    border-color: var(--background-accent)!important;
}
.searchBar-3dMhjb {
    border-width: .5px!important;
    border-style: solid;
    border-radius: 7px;
    border-color: var(--background-accent)!important;
    background-color: transparent!important;
}
