/**
* @name Mobile to Desktop
* @author blueb#7368
* @version 1.1.2
* @description A theme based off of mobile discord
* @source https://github.com/blueb442/mobiletodesktop
* @updateUrl https://github.com/blueb442/mobiletodesktop/blob/main/mobiletodesktop.theme.css
*/

body {
    background-color: --background-tertiary!important;
}
.content-98HsJk {
    margin-top: 13px;
}
.sidebar-2K8pFh {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.chat-3bRxxu {
    margin-left: 5px;
    margin-right: 10px;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.header-2V-4Sw {
    border-top-left-radius: 5px!important;
}
.panels-j1Uci_ {
    border-radius: 10px;
    margin: 5px;
    background-color: var(--background-secondary-);
    box-shadow: 1px 1px 20px var(--background-secondary);
}
.channelTextArea-rNsIhG {
    border-radius: 10px;
}
.inputDefault-_djjkz {
    border-radius: 5px;
}
.container-1D34oG {
    margin-left: 5px;
    margin-right: 10px;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.select-2TCrqx {
    border-radius: 5px!important;
}
button {
    border-radius: 5px!important;
}
.item-26Dhrx {
    border-radius: 5px!important;
}
.container-_phMUq {
    border-radius: 5px!important;
}
.title-3qD0b- {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-primary);
}
.container-1r6BKw {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-primary);
}
.header-2V-4Sw {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-secondary);
}
.searchBar-6Kv8R2 {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-secondary);
}
.accountProfileCard-1XCH88 {
    box-shadow: 0px 0px 40px var(--background-tertiary);
}
.threadSidebar-1o3BTy {
    margin-left: -4px;
    margin-right: 12px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
