:root {
  --font-display: Commissioner;
  --font-headline: Commissioner;
  --font-code: Fira Code;
}

body {
    background-color: var(--background-tertiary)!important;
}

.content-98HsJk {
    margin-top: 13px;
}
.sidebar-2K8pFh {
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.chat-3bRxxu {
    margin-left: 5px;
    margin-right: 10px;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.header-2V-4Sw {
    border-top-left-radius: 5px!important;
}
.panels-j1Uci_ {
    border-radius: 10px;
    margin: 5px;
    background-color: var(--background-secondary-);
    box-shadow: 1px 1px 20px var(--background-secondary);
}
.channelTextArea-rNsIhG {
    border-radius: 10px;
}
.inputDefault-_djjkz {
    border-radius: 5px;
}
.container-1D34oG {
    margin-left: 5px;
    margin-right: 10px;
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
}
.select-2TCrqx {
    border-radius: 5px!important;
}
button {
    border-radius: 5px!important;
}
.item-26Dhrx {
    border-radius: 5px!important;
}
.container-_phMUq {
    border-radius: 5px!important;
}
.title-3qD0b- {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-primary);
}
.container-1r6BKw {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-primary);
}
.header-2V-4Sw {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-secondary);
}
.searchBar-6Kv8R2 {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 1px 1px 20px var(--background-secondary);
}
.accountProfileCard-1XCH88 {
    box-shadow: 0px 0px 40px var(--background-tertiary);
}
.threadSidebar-1o3BTy {
    margin-left: -4px;
    margin-right: 12px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button[aria-label="Open GIF picker"] {
    display: none;
    color: transparent;
}
button[aria-label="Open sticker picker"] {
    display: none;
    color: transparent;
}

/* Begin Localized Stuff */

button[aria-label="Open GIF picker"] {
    display: none;
    color: transparent;
}
button[aria-label="Open sticker picker"] {
    display: none;
    color: transparent;
}

/* Dansk */

button[aria-label="Åbn sticker-vælgeren"] {
    display: none;
    color: transparent;
}
button[aria-label="Åbn GIF-vælger"] {
    display: none;
    color: transparent;
}

/* Deutsch */

button[aria-label="Stickerauswahl öffnen"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF-Auswahl öffnen"] {
    display: none;
    color: transparent;
}

/* Espanol */

button[aria-label="Abrir selector de pegatinas"] {
    display: none;
    color: transparent;
}
button[aria-label="Abrir selector de GIFs"] {
    display: none;
    color: transparent;
}

/* Francais */

button[aria-label="Ouvrir le sélecteur d'autocollant"] {
    display: none;
    color: transparent;
}
button[aria-label="Ouvrir l'onglet des GIF"] {
    display: none;
    color: transparent;
}

/* Hrvatski */

button[aria-label="Otvori picker za naljepnice"] {
    display: none;
    color: transparent;
}
button[aria-label="Otvori GIF picker"] {
    display: none;
    color: transparent;
}

/* Italiano */

button[aria-label="Apri selettore di adesivi"] {
    display: none;
    color: transparent;
}
button[aria-label="Apri selettore di GIF"] {
    display: none;
    color: transparent;
}

/* Lietuviskai */

button[aria-label="Atidaryti lipdukų paieškos priemonę"] {
    display: none;
    color: transparent;
}
button[aria-label="Atidaryti GIF paieškos priemonę"] {
    display: none;
    color: transparent;
}

/* Magyar */

button[aria-label="Matricaválogató megnyitása"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF válogató megnyitása"] {
    display: none;
    color: transparent;
}

/* Nederlands */

button[aria-label="Stickerkiezer openen"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF-kiezer openen"] {
    display: none;
    color: transparent;
}

/* Norsk */

button[aria-label="Åpne klistremerkevelger"] {
    display: none;
    color: transparent;
}
button[aria-label="Åpne GIF-velger"] {
    display: none;
    color: transparent;
}

/* Polski */

button[aria-label="Otwórz wybór naklejek"] {
    display: none;
    color: transparent;
}
button[aria-label="Otwórz wybieranie GIF-ów"] {
    display: none;
    color: transparent;
}

/* Portuges do Brasil */

button[aria-label="Abrir selecionador de figurinhas"] {
    display: none;
    color: transparent;
}
button[aria-label="Abrir o selecionador de GIFs"] {
    display: none;
    color: transparent;
}

/* Romana */

button[aria-label="Deschide selectorul de stickere"] {
    display: none;
    color: transparent;
}
button[aria-label="Deschide selectorul de GIF"] {
    display: none;
    color: transparent;
}

/* Suomi */

button[aria-label="Avaa tarravalitsin"] {
    display: none;
    color: transparent;
}
button[aria-label="Avaa GIF-valitsin"] {
    display: none;
    color: transparent;
}

/* Svenska */

button[aria-label="Öppna dekalväljare"] {
    display: none;
    color: transparent;
}
button[aria-label="Öppna GIF-väljare"] {
    display: none;
    color: transparent;
}

/* Tieng Viet */

button[aria-label="Mở trình chọn sticker"] {
    display: none;
    color: transparent;
}
button[aria-label="Mở trình chọn ảnh GIF"] {
    display: none;
    color: transparent;
}

/* Turkce */

button[aria-label="Çıkartma seçiciyi aç"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF seçiciyi aç"] {
    display: none;
    color: transparent;
}

/* Cestina */

button[aria-label="Otevřít výběr samolepek"] {
    display: none;
    color: transparent;
}
button[aria-label="Otevřít okno s GIFy"] {
    display: none;
    color: transparent;
}

/* Eyynvilka */

button[aria-label="Άνοιγμα επιλογέα αυτοκόλλητων"] {
    display: none;
    color: transparent;
}
button[aria-label="Άνοιγμα επιλογέα GIF"] {
    display: none;
    color: transparent;
}

/* български */

button[aria-label="Отвори избиране на стикери"] {
    display: none;
    color: transparent;
}
button[aria-label="Отвори избиране на GIF"] {
    display: none;
    color: transparent;
}

/* PYCCknn */

button[aria-label="Открыть меню выбора стикеров"] {
    display: none;
    color: transparent;
}
button[aria-label="Открыть меню GIF"] {
    display: none;
    color: transparent;
}

/* Ykpaihcbka */

button[aria-label="Відкрити програму вибору стікерів"] {
    display: none;
    color: transparent;
}
button[aria-label="Відкрити програму вибору GIF"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="स्टीकर पिकर खोलें"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF पिकर खोलें"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="เปิดตัวเลือกสติกเกอร์"] {
    display: none;
    color: transparent;
}
button[aria-label="เปิดตัวเลือก GIF"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="打开贴纸选取器"] {
    display: none;
    color: transparent;
}
button[aria-label="打开 GIF 选取器"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="スタンプピッカーを開く"] {
    display: none;
    color: transparent;
}
button[aria-label="GIFピッカーを開く"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="開啟貼圖選取器"] {
    display: none;
    color: transparent;
}
button[aria-label="開啟 GIF 選取器"] {
    display: none;
    color: transparent;
}

/* Another Language */

button[aria-label="스티커 선택기 열기"] {
    display: none;
    color: transparent;
}
button[aria-label="GIF 선택기 열기"] {
    display: none;
    color: transparent;
}

/* End Localized Stuff */


.sprite-2iCowe {
    background-image: url("https://blueb442.github.io/purpura/assets/allinone-sprite.png");
    background-position: 50%;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    display: block;
}

.role-2irmRk {
    border-radius: 15px;
    padding-left: 1px;
}
.connectedAccount-2Jb-Z0 {
    border-radius: 10px;
    background-color: var(--background-secondary-alt);
}
.headerBarContainer-31FKNA {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container-1a3EgQ {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 5px;
    margin-right: 10px;
}
.applicationStore-1pNvnv {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 5px;
    margin-right: 10px;
}
.membershipDialog-rVL-t_ {
    border-radius: 5px;
}
.flexCenter-3_1bcw { 
    border-radius: 5px;
}
.modal-1TF_VN {
    border-radius: 10px;
}
.message-2qnXI6 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.jumpToPresentBar-G1R9s6 {
    box-shadow: 0px 0px 15px var(--background-accent);
}
.newMessagesBar-265mhP {
    margin-top: 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--brand-experiment);
}
.wrapper-2aW0bm {
    border-radius: 5px!important;
    box-shadow: 0px 0px 15px var(--background-secondary-alt);
}
.wrapper-35wsBm {
    border-radius: 7px;
    box-shadow: 0px 0px 15px var(--background-secondary);
}
.anchor-3Z-8Bb {
    text-shadow: 0px 0px 1px rgba(0, 175, 244, 0.489);
}
.timestamp-3ZCmNB {
    font-family: var(--font-display);
}
.chatHeaderBar-4vZS1x {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--background-secondary-alt);
}
.container-3hZ-gs {
    border-radius: 5px;
    box-shadow: 0px 0px 3px var(--background-secondary-alt);
}
.reaction-1hd86g:hover {
    box-shadow: 0px 0px 5px var(--brand-experiment);
}
.controlButton-2MhVEL {
    border-radius: 40px!important;
}
.callContainer-36WRfH {
    background-color: var(--background-primary);
    box-shadow: 0px 0px 10px var(--background-secondary-alt);
}
.container-1r6BKw {
    border-radius: 10px;
    background-color: var(--background-primary)!important;
}
.messagesPopoutWrap-1MQ1bW {
    border-radius: 5px;
}
.header-ykumBX {
    background-color: var(--background-secondary-alt);
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}
.footer-1kmXd4 {
    margin-top: 10px;
    padding: 5px;
    background-color: var(--background-secondary-alt);
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}
.container-enaOkj {
    border-radius: 5px;
}
.header-2-Imhb {
    background-color: var(--background-secondary-alt);
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}
.scroller-tlc3kG {
    margin-top: 5px;
}
.input-2VB9rf {
    padding-left: 20px;
    border-radius: 10px;
    background-color: var(--background-primary);
    box-shadow: 0px 0px 10px var(--background-primary);
}
.input-2VB9rf:hover {
    padding-left: 20px;
    border-radius: 10px;
    background-color: var(--background-primary);
    box-shadow: 0px 0px 15px var(--background-primary);
}
.quickswitcher-3JagVE {
    border-radius: 10px;
    background-color: var(--background-secondary);
}
.arrowContainer-17eG6u {
    display: none;
}
.searchMessage-2dNwh2 {
    font-family: var(--font-display);
}

.imageWrapper-2p5ogY {
    border-radius: 5px!important;
}
.attachment-33OFj0 {
    border-radius: 5px!important;
    border-color: var(--background-secondary);
    box-shadow: 0px 0px 5px var(--background-secondary);
}
.wrapper-39oAo3 {
    border-radius: 10px!important;
    box-shadow: 0px 0px 10px var(--background-tertiary);
}
.botTag-3W9SuW {
    border-radius: 5px!important;
    box-shadow: 0px 0px 1px var(--brand-experiment);
}
.mention {
    border-radius: 5px!important;
}
.floating-window {
    border-radius: 8px!important;
    box-shadow: 0px 0px 10px var(--background-floating);
}
.floating-window-titlebar {
    background-color: var(--background-floating);
}
#bd-editor-controls {
    background-color: var(--background-tertiary)!important;
}
.px-10SIf7 {
    border-radius: 5px!important;
    box-shadow: 0px 0px 5px var(--brand-experiment);
}
.content-1x5b-n {
    border-radius: 5px;
}
.menu-3sdvDG {
    border-radius: 8px;
}
.item-1tOPte {
    border-radius: 5px;
}
.grabber-3mFHz2 {
    border-radius: 30px;
}
.group-1WdBVp {
    border-radius: 10px;
    border-color: var(--background-secondary);
    box-shadow: 0px 0px 10px var(--background-secondary-alt);
}
.deny-3nAuT6 {
    background-color: var(--background-secondary-alt);
}
.allow-1PzSY3 {
    background-color: var(--background-secondary-alt);
}
.deny-3nAuT6:hover {
    background-color: var(--background-primary);
}
.allow-1PzSY3:hover {
    background-color: var(--background-primary);
}
.item-1yAxl1.passthrough-1c2ewQ.selected-2YhbGh {
    background-color: var(--background-secondary);
}
.cardContent-qqqwo8 {
    box-shadow: 0px 0px 5px var(--background-secondary);
}
.card-4s8auQ {
    box-shadow: 0px 0px 5px var(--background-secondary);
}
.card-o7rAq- {
    border-radius: 10px;
    border-color: var(--background-secondary)!important;
    box-shadow: 0px 0px 5px var(--background-secondary);
}
.iconWrapper-lS1uig {
    background-color: var(--background-secondary-alt);
}
.ctaBar-2UsjF2 {
    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--background-secondary);
}
.carouselItemSelected-JFUsnG {
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}
.root-1gCeng {
    border-radius: 10px;
}
.addButton-pcyyf6 {
    padding: 4px;
    border-radius: 10px!important;
}
.emptyChannelIcon-cc932w {
    box-shadow: 0px 0px 3px var(--interactive-muted);
}
.infoScroller-1Qu30O {
    background-color: var(--background-secondary-alt);
}
.body-r6_QPy {
    background-color: var(--background-secondary-alt);
}
.topSection-y3p-_D {
    background-color: var(--background-secondary);
}
.avatar-AvHqJA.wrapper-3t9DeA {
    border: 8px solid var(--background-secondary);
    background-color: var(--background-secondary);
}
.header-4zuFdR {
    background-color: var(--background-secondary);
}
.tabBarContainer-37hZsr {
    border: 0px!important;
}
.icon-3o6xvg {
    border-radius: 30px;
}
.popout-APcvZm {
    border-radius: 8px;
}
.header-1VS4tm {
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 3px;
    background-color: var(--background-secondary-alt);
}
.spoilerText-3p6IlD {
    border-radius: 5px;
}
.button-1vm4ZO:nth-of-type(odd) {
    margin-right: 5px;
}
.messageGroupWrapper-o-Zw7G {
    margin: 5px;
    border: 0px solid var(--background-secondary);
    box-shadow: 0px 0px 10px var(--background-secondary-alt);
}
.jumpButton-2dvRSC {
    border-radius: 5px;
    margin: 5px;
}
.formNotice-2_hHWR {
    border: 0px;
    box-shadow: 0px 0px 5px var(--background-secondary);
}
.layout-2DM8Md {
    border-radius: 8px;
}
.role-3UN8jj {
    border-radius: 20px;
}
.roleColor-fHISxl {
    width: 13px;
    height: 13px;
    margin-left: -2px;
}
.role-3UN8jj:hover {
    background-color: var(--background-tertiary);
}
.item-PXvHYJ {
    border-radius: 5px!important;
}
.tabBarItem-3dfX8P {
    border-radius: 0px!important;
}
.content-1x5b-n {
    border-radius: 10px!important;
}
.content-1Wq3SX {
    padding: 1px;
    border-radius: 10px!important;
}
.scrollableContainer-2NUZem {
    border-radius: 12px!important;
}
.wrapper-2aW0bm:hover {
    box-shadow: 0px 0px 9px var(--background-secondary)!important;
}
.header-2V-4Sw {
    border-radius: 0px!important;
}
.flex-1xMQg5 {
    border-radius: 12px;
}
.gradientTop-3UWg3T {
    display: none;
}
.button-1YfofB {
    border-radius: 8px!important;
}
.background-ujHpbY {
    border-radius: 0px;
}
.categoryItemDefaultCategory-aBZ6nJ {
    border-radius: 8px;
}
.searchBar--fTZYa {
    border-radius: 5px;
}
.css-gvi9bl-control {
    border-radius: 6px;
}
.item-PXvHYJ {
    border-radius: 8px!important;
}
.emojiRow-zIc7ZX {
    border-radius: 0px!important;
}

.member-1q7VfX {
    border-radius: 0px!important;
}
.inviteSettingsInviteRow-3p2O-N {
    border-radius: 0px!important;
}
.overflowButton-1SCpCf {
    border-radius: 30px!important;
    padding-left: 7px;
}
.container-3XJ8ns {
    background-color: var(--background-secondary)!important;
    border-radius: 8px;
    border-color: transparent;
    box-shadow: 0px 0px var(--background-secondary) 10px!important;
}
.inner-2P4tQO {
    border-radius: 8px!important;
}
.auditLog-2ph_aK {
    border-radius: 8px!important;
    box-shadow: 0px 0px var(--background-tertiary) 10px!important;
}

.guildDetails-2p1NmK {
    border-radius: 8px!important;
}
.guildIcon-nSLcmS {
    border-radius: 5px!important;
}
.tabBarItem-2QyJ0U {
    border-radius: 0px!important;
}
.copyInputDefault-21sXtF {
    border-radius: 7px!important;
}
.container-jSV3OF {
    border-radius: 8px!important;
}

.enableContainer-6E-puu {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.welcomeChannel-1rFrIO {
    border-radius: 8px;
}
.item-26Dhrx {
    border-radius: 8px!important;
}
.previewMessage-1ZN7YG {
    border-radius: 8px!important;
}
.preview-2Vkbi6 {
    border-radius: 8px!important;
    border-color: transparent;
    box-shadow: 0px 0px var(--background-secondary) 5px!important;
}
.warning-3C2pOH {
    border-radius: 8px!important;
}
.button-38aScr {
    border-radius: 8px!important;
}
.keybindShortcut-1BD6Z1 span {
    border-radius: 6px;
}
.connectedAccount-2Jb-Z0 {
    border-color: transparent;
    background-color: var(--background-tertiary);
    box-shadow: 0px 0px var(--background-tertiary) 5px!important;
}
.listRow-1iDGel {
    border-radius: 8px;
}
.divider-3_HH5L {
    border-radius: 8px;
    box-shadow: 0px 0px var(--background-secondary-alt) 3px!important;
}
.image-3XsqGc {
    margin-bottom: -1px;
    height: 230%;
}
.title-FVgbgL {
    margin-bottom: 2px;
}
.unreadMentionsBar-1Bu1dC {
    box-shadow: 0px px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%) 10px!important;
}
.repliedMessage-VokQwo:before {
    border-color: var(--background-secondary-alt);
}
.textBadge-1iylP6 {
    display: none;
}
.wrapper-2aW0bm {
    border-radius: 8px!important;
}
.pictureInPictureVideo-2iKsGg {
    border-radius: 8px!important;
}
.enableContainer-6E-puu {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.welcomeChannel-1rFrIO {
    border-radius: 8px;
}
.item-26Dhrx {
    border-radius: 8px!important;
}
.previewMessage-1ZN7YG {
    border-radius: 8px!important;
}
.preview-2Vkbi6 {
    border-radius: 8px!important;
    border-color: transparent;
    box-shadow: 0px 0px var(--background-secondary) 5px!important;
}
.warning-3C2pOH {
    border-radius: 8px!important;
}
.button-38aScr {
    border-radius: 8px!important;
}
.keybindShortcut-1BD6Z1 span {
    border-radius: 6px;
}
.connectedAccount-2Jb-Z0 {
    border-color: transparent;
    background-color: var(--background-tertiary);
    box-shadow: 0px 0px var(--background-tertiary) 5px!important;
}
.listRow-1iDGel {
    border-radius: 8px;
}
.divider-3_HH5L {
    border-radius: 8px;
    box-shadow: 0px 0px var(--background-secondary-alt) 3px!important;
}
.image-3XsqGc {
    margin-bottom: -1px;
    height: 230%;
}
.title-FVgbgL {
    margin-bottom: 2px;
}
.unreadMentionsBar-1Bu1dC {
    box-shadow: 0px px hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%) 10px!important;
}
.repliedMessage-VokQwo:before {
    border-color: var(--background-secondary-alt);
}
.textBadge-1iylP6 {
    display: none;
}
.wrapper-2aW0bm {
    border-radius: 8px!important;
}
.pictureInPictureVideo-2iKsGg {
    border-radius: 8px!important;
}

/* Mac Buttons */
.macButton-c_Adir {
    width: 13px;
    height: 13px;
    background-color: inherit;
    border-width: 0.5px!important;
    border-style: solid;
    border-color: var(--background-primary)!important;
}
.macButton-c_Adir:hover {
    width: 13px;
    height: 13px;
    background-color: inherit;
    border-width: 0.5px!important;
    border-style: solid;
    border-color: var(--background-secondary)!important;
}
.macButtons-2MuSAC {
    background-color: transparent;
}
.macButtonClose-MwZ2nf:hover {
    background-color: #fc615d;
}
.macButtonMinimize-3EJ6wo:hover {
    background-color: #fdbc40;
}
.macButtonMaximize-2FMHAO:hover {
    background-color: #34c749;
}
.tabBarItem-3dfX8P {
    border-radius: 0px!important;
}
.typeWindows-1za-n7 {
    padding-top: 5px;
    margin-top: 0px!important;
    background-color: var(--background-secondary-alt);
    box-shadow: 0px 1px 10px var(--background-secondary-alt);
}
.scroller-1Bvpku {
    margin-top: 5px;
}

/* Spotify Controls */
.textScroller-dc9_kz {
    font-family: var(--font-display);
}
.cover-SwJ-ck {
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--background-tertiary)!important;
}
.timeline-UWmgAx:hover .barFill-Dhkah7 {
    background: var(--brand-experiment-400)!important;
}
.bar-g2ZMIm {
    box-shadow: 0px 0px 6px var(--background-secondary-alt)!important;
}
.barText-lmqc5O {
    font-family: var(--font-display);
}

/* listen along */
.invite-18yqGF {
    border-radius: 8px!important;
    border-color: transparent!important;
    box-shadow: 0px 0px 10px var(--background-tertiary);
    background-color: var(--background-tertiary)!important;
}
.artworkActionable-10hKry {
    border-radius: 8px;
}
.coverImageActionable-1TMryE.blurred-UUeCTs {
    filter: blur(3.5px);
}
.participants-1e7HCI {
    background-color: transparent!important; 
}
.controlButton-2MhVEL.centerButton-3CaNcJ {
    border-radius: 30px!important;
}
.headerBarContainer-31FKNA {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.container-S9SaVf {
    border-radius: 12px!important;
    border-color: transparent;
    box-shadow: 0px 0px 1px var(--background-secondary);
    background-color: var(--background-secondary)!important;
}
.container-S9SaVf:hover {
    border-radius: 12px!important;
    border-color: transparent;
    box-shadow: 0px 0px 10px var(--background-secondary);
    background-color: var(--background-secondary)!important;
}
.container-7Unqij {
    box-shadow: 0px 0px 10px var(--background-secondary-alt);
}
.speakerContainer-3h4uQU {
    padding: 5px;
    border-radius: 30px;
    background-color: var(--background-secondary-alt);
    box-shadow: 0px 0px 1px var(--background-secondary-alt);
}
.contentContainer-r2-Vlj {
    padding: 13px;
}
.premiumContainer-2Iux5m {
    padding-top: 7px;
}
.title-30qZAO {
    margin-top: 8px;
    border-radius: 8px!important;
}
.peopleListItem-2nzedh {
    border-radius: 10px!important;
    border-color: var(--background-primary)!important;
}
.peopleListItem-2nzedh:hover {
    border-radius: 10px!important;
    background-color: var(--background-secondary);
    border-color: var(--background-primary)!important;
}
.inline {
    border-radius: 6px!important;
}
.scrollbarGhostHairline-1mSOM1 {
    border-radius: 6px!important;
    border-color: transparent!important;
}
.mentioned-xhSam7 {
    border-radius: 8px;
}
.embedWrapper-lXpS3L {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.grid-1nZz7S {
    margin: 2px;
}
.cardWrapper-2R6-SX .card-3RzMcx {
    font-family: var(--font-display);
    background-color: var(--background-secondary);
}
.cardHeader-2Wz67Q {
    font-weight: 400!important;
}
.message-2qnXI6 {
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}
.inputDefault-_djjkz {
    border-radius: 7px;
}
.footer-3UKYOU .inputDefault-_djjkz {
    background-color: var(--background-tertiary);
}
.footer-3UKYOU .inputDefault-_djjkz:hover {
    background-color: var(--background-tertiary);
    border-color: transparent;
}
.userPopout-xaxa6l {
    border-radius: 12px!important;
}
.divider-3_HH5L {
    border-color: var(--background-secondary);
}
.divider-3_HH5L .content-1o0f9g {
    color: var(--text-muted);
}
.isUnread-3Ef-o9 {
    border-color: var(--divider-color)!important;
}
.attachedBars-tZDmyV {
    padding-bottom: 10px;
    margin-bottom: -10px;
}
.channelTextArea-rNsIhG .scrollableContainer-2NUZem {
    background-color: var(--background-primary);
    border-width: 2px!important;
    border-style: solid;
    border-color: var(--background-accent)!important;
}
.searchBar-3dMhjb {
    border-width: .5px!important;
    border-style: solid;
    border-radius: 7px;
    border-color: var(--background-accent)!important;
    background-color: transparent!important;
}
::selection {
  background: var(--brand-experiment-360);
}
input:focus {
    border-color: var(--brand-experiment-500)!important;
}
textarea:focus {
    border-width: 1px;
    border-style: solid;
    border-color: var(--brand-experiment-500)!important;
}
.connection-1fbD7X {
    border-radius: 8px!important;
}
.connectionHeader-2MDqhu {
    padding: 16px;
    background-color: var(--background-secondary);
}
.searchBar-5di9mG {
    background-color: var(--background-secondary);
    border-color: var(--background-primary);
    border-style: solid; 
    border-radius: 8px;
    border-width: 2px;
}
.searchBar--fTZYa {
    background-color: var(--background-secondary);
    border-color: var(--background-primary);
    border-style: solid; 
    border-radius: 8px;
    border-width: 2px;
}

.scroller-3gAZLs::-webkit-scrollbar {
    display: none;
}

.categorySection-2sgp74, .wrapper-1-Fsb8, .scroller-2gAZLs, .listWrapper-3kgtQ0, .emojiPickerListWrapper-fz8KNK, .bodyWrapper-3G0FZZ, .contentWrapper-SvZHNd, .drawerSizingWrapper-17Mss4, .header-8ilj5e {
    background-color: var(--background-secondary)!important;
}

.categorySection-2sgp74 {
    border-radius: 8px!important;
}

.header-ywPcAE {
    border-top-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
}

.contentWrapper-SvZHNd {
    border-radius: 8px;
}

.bannedUserModal-3RJCOV .header-kk07Uz {
    background-color: var(--background-secondary)!important;
}

.inner-3nWsbo {
    background-color: var(--background-primary)!important;
    border: none!important;
}
.uploadModal-2ifh8j {
    background-color: var(--background-primary)!important;
    border: none!important;
}
.footer-3mqk7D {
    background-color: var(--background-secondary)!important;
    border: none!important;
}
.uploadModal-2ifh8j {
    border: none!important;
    box-shadow: 0px 0px 5px var(--background-secondary-alt)!important;
}
.image-2yrs5j {
    box-shadow: 0px 0px 17px var(--background-tertiary)!important;
}
.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
    border-radius: 10px!important;
}
.container-1r6BKw.transparent-2ZlE3R {
    box-shadow: 0px 0px 0px;
}
.root-217Brm {
    background-color: var(--background-secondary-alt);
}
.scroller-1SuHJo, .container-2t1JyW, .tileContainer-BaRAZF, .participants-soO0aD {
    background-color: var(--background-tertiary);
}

.colorable-1bkp8v.primaryDark-3mSFDl {
    border-radius: 100px!important;
    background-color: var(--background-accent);
}

.container-1r6BKw{
    background-color: transparent!important;
}

.theme-dark .button-2CgfFz {
    background-color: var(--background-secondary);
}

.layer-v9HyYc {
    box-shadow: 0px 0px 10px var(--background-tertiary);
}

.scroller-3gAZLs {
    background-color: var(--background-secondary);
}
.base-1pYU8j .selected-1Tbx07 {
    background-color: var(--background-secondary-alt);
}
.base-1pYU8j:hover {
    background-color: var(--background-secondary-alt);
}
.base-1pYU8j:active {
    background-color: var(--background-secondary-alt);
}
.base-1pYU8j:focus {
    background-color: var(--background-secondary-alt);
}
.categorySection-2sgp74 {
    background-color: transparent!important;
}
.selected-1Tbx07 {
    background-color: var(--background-tertiary)!important;
}
.scroller-lynW5A {
    background-color: var(--background-secondary);
}

.container-2XeR5Z {
    background-color: var(--background-secondary);
    border-color: var(--background-primary);
    border-style: solid; 
    border-radius: 8px;
    border-width: 2px;
}
.inputMini-2xQV9P {
    border-radius: 6px;
}
.unreadBar-3t3sYc {
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--background-accent)!important;
}
.embedAuthorName-3mnTWj {
    font-family: Commissioner;   
}
.fieldTitle-3h2iLW {
    font-family: Commissioner;   
}
.flex-1xMQg5.flex-1O1GKY {
    box-shadow: 0px 0px 0px;
}
.overridePlaceholder-14_rPI {
    border-radius: 8px;
}
.size14-e6ZScH .title-eS5yk3 {
    font-family: Commissioner;   
}
.emojiSection-3Fb9ix .overflow-WK9Ogt {
    font-family: Commissioner;
}
.accountProfileCard-1XCH88 {
    border-radius: 13px;
}
.background-1QDuV2 {
    border-radius: 8px;
}
.radioBar-bMNUI- {
    border-radius: 8px;
    border-width: 4px;
}
.accountProfileCard-1XCH88 {
    background-color: var(--background-tertiary);
}
.background-1QDuV2 {
    background-color: var(--background-secondary-alt);
}
.fieldList-21DyL8 {
    background-color: var(--background-secondary-alt);
}
.preview-2Vkbi6 {
    border-radius: 13px!important;
}
.previewMessage-1ZN7YG {
    border-radius: 10px!important;
}
.flagImage-3Wbkq4 {
    border-radius: 5px;

}
.localizedName-2dYMQh {
    font-family: Commissioner; 
    font-size: 13px;
}
.formNotice-2_hHWR {
    border-radius: 8px;
}
.membershipDialog-rVL-t_ {
    border-radius: 10px;
}
code {
    font-family: Fira Code!important;
}

a[href*="/store"] {
    display: inline-grid;
    grid-template-columns: auto auto;
}
a[href*="/store"] .avatar-3uk_u9 {
    margin-right: 0px;
}
a[href*="/store"] .name-uJV0GL {
    display: none;
}

a[href*="/discovery"] {
    display: inline-grid;
    grid-template-columns: auto auto;
}
a[href*="/discovery"] .avatar-3uk_u9 {
    margin-right: 0px;
}
a[href*="/discovery"] .name-uJV0GL {
    display: none;
}

a[href="/channels/@me"] {
    display: inline-grid;
    grid-template-columns: auto auto;
}
a[href="/channels/@me"] .avatar-3uk_u9 {
    margin-right: 0px;
}
a[href="/channels/@me"] .name-uJV0GL {
    display: none;
}

.content-3YMskv a[href="/channels/@me"],a[href*="/discovery"],a[href*="/store"] {
    margin-left: 23px;
}
.itemValue-JNy0LV {
    font-family: Fira Code;
    font-size: 14px;
}
.botTag-2WPJ74 {
    border-radius: 5px!important;
    box-shadow: 0px 0px 3px var(--brand-experiment);
}
.nameWrap-3Z4G_9.textRow-19NEd_ {
    font-weight: normal;
    font-family: var(--font-primary), Whitney;
}
.root-2GkXUO.upsell-34F9Me {
    display: none;
}
.auditLog-2ph_aK {
    border-radius: 8px!important;
}
.headerClickable-g5d9lT {
    border-radius: 8px!important;
}
.auditLog-2ph_aK .flex-1xMQg5.flex-1O1GKY {
    border-radius: 0px;
}
.title-21ph07 {
    font-family: var(--font-primary), Whitney;
}
.container-cMG81i.large-laZJpW {
    border-radius: 8px;
    background-color: var(--background-primary);
    border: solid;
    border-width: 2px;
    border-color: var(--background-secondary-alt);
}
.bd-button {
    border-radius: 6px;
}
.bd-addon-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.bd-addon-card {
    border-radius: 8px!important;
}
.notice-3bPHh- {
    border-radius: 8px!important;
}
.bd-version {
    font-family: Fira Code;
    background-color: var(--background-primary);
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 3px;
    font-size: 12px;
}
.info-1VyQPT {
    font-family: Fira Code;
}
.roleRow-30TwGe {
    border-radius: 8px;
}
.item-26Dhrx:hover {
    transition: all 0.1s ease;
}
.roleRow-30TwGe {
    transition: all 0.1s ease;
}
.container-cMG81i {
    border-radius: 8px;
}
.container-_phMUq {
    border-radius: 8px!important;
}
.container-_phMUq:hover {
    border-radius: 8px!important;
    transition: all 0.1s ease;
}
.cardWrapper-2Min21 {
    background-color: var(--background-secondary-alt);
    border-radius: 8px!important;
}
.cardWrapper-2Min21:hover {
    transition: all 0.1s ease;
}
.member-3-YXUe .layout-2DM8Md:hover {
    transition: all 0.15s ease;
}
.wrap-ZIn9Iy.horizontal-2EEEnY {
    margin-bottom: -22px;
}
.slider {
    border-radius: 3.5px;
}
.scrollerBase-289Jih .separator-2I32lJ {
    display: none;
}
.changelogNotice-CQEWmQ {
    border-radius: 8px;
}
.preview-2nSL_2 {
    border-radius: 8px;
    box-shadow: 0px 0px 8px var(--background-secondary);
    border-color: var(--background-secondary);
}
.input-cIJ7To {
    border-radius: 8px!important;
}
.questionMark-3qBhGj {
    border-radius: 6px!important;
}
.multiInputLast-33BbRU  input {
    font-family: Fira Code;
}
.focusLock-Ns3yie .colorHeaderPrimary-26Jzh- {
    font-family: var(--font-display);
}
.autocomplete-1vrmpx {
    border-radius: 8px!important;
}
.base-1pYU8j {
    border-radius: 8px!important;
}
.select-2fjwPw {
    border-radius: 8px;
    border-color: var(--background-secondary-alt)!important;
}
.popout-VcNcHB {
    border-radius: 8px;
    margin-top: 5px;
    border-color: var(--background-secondary-alt)!important;
    background-color: var(--background-secondary)!important;
}
.option-3KoAJB {
    background-color: var(--background-secondary)!important;
}
.option-3KoAJB:active {
    background-color: var(--background-secondary-alt)!important;
}
.hotspotSwitch-W6cuHF .h5-18_1nd {
    font-family: Whitney;
}
.container-2VW0UT {
    border-radius: 12px;
}

.inputDefault-_djjkz {
    border-color: var(--background-secondary-alt)!important;
}
.input-cIJ7To {
    border-color: var(--background-secondary-alt)!important;
}
.textarea-2r0oV8 {
    border: solid;
    border-color: transparent!important;
    border-width: 1px;
}
.input-1Rv96N, .inner-3ErfOT {
    border-radius: 8px;
}
.button-11zvza {
    border-radius: 5px;
}
.highlight {
    border-radius: 5px;
}
.emojiPicker-3PwZFl {
    border-radius: 8px;
}
.header-8ilj5e {
    box-shadow: 0px 0px 0px;
}
.tooltip {
    border-radius: 8px!important;
}

.result-oB0z-- {
    border-radius: 8px;
}
.quickswitcher-3JagVE {
    border-radius: 15px;
}
.header-2k4I2o {
    box-shadow: 0px 0px 0px;
}
.header-1TOWci {
    box-shadow: 0px 0px 0px!important;
}
.reactionSelected-1pqISm {
    border-radius: 6px;
}
.previewContainer-37c2Si {
    border-radius: 8.5px;
}
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    border-radius: 8px;
}
.notches-1sAcEM {
    background-color: transparent;
}
.addGamePopout-2RY8Ju {
    border-radius: 8px;
    border-color: transparent;
}
.flexCenter-3_1bcw {
    border-radius: 8px;
}
.divider-J3ken9 {
    display: none;
}
.wrapper-3nSjSv {
    background: linear-gradient(150deg,hsl(221,calc(var(--saturation-factor, 1)*70%),55.5%),hsl(269,calc(var(--saturation-factor, 1)*83.8%),71%)) no-repeat;
}
.lookInverted-2D7oAl {
    color: #fff!important;
    background-color: rgba(255, 255, 255, 0.096)!important;
}
.panningAnimation-38NjY9 {
    border-radius: 8px;
}
.noticeWithRightPadding-3OxAxd {
    border-radius: 12px;
}
.profileBannerPreview-3_l0Wd {
    border-radius: 10px;
}
.grabber-3mFHz2 {
    box-shadow: 0px 0px 5px var(--background-secondary-alt);
}
.flex-1xMQg5 .emojiSection-3Fb9ix {
    box-shadow: 0px 0px 5px var(--background-tertiary);
}
.listRow-1iDGel {
    padding: 6px!important;
}
.listRow-1iDGel .icon-3o6xvg {
    height: 35px;
    width: 35px;
}
.listRow-1iDGel .listAvatar-1BbvHX {
    height: 35px!important;
    width: 35px!important;
}
.timestamp-1Dd_pn {
    border-radius: 6px;
}

* {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*66.8%),58.6%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #15131a;
    --background-secondary: #121016;
    --background-secondary-alt: #0e0c11;
    --background-tertiary: #08070a;
    --background-accent: #24212c;
    --background-floating: #030203;
    --background-mobile-primary: #08070a;
    --background-mobile-secondary: #08070a;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #15131a;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: rgb(194, 194, 194);
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --channels-default: #918e97;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

.header-1TKi98 {
    border-radius: 8px;
    background-color: var(--background-primary);
}

.content-1LAB8Z {
    border-radius: 0px;
    background-color: var(--background-primary);
}

.bd-addon-modal {
    background-color: var(--background-primary)!important;
}

.footer-2gL1pp {
    background-color: var(--background-secondary)!important;
}

.root-1gCeng {
    background-color: var(--background-primary);
    border-radius: 8px;
    border-color: transparent!important;
}

.footer-2gL1pp {
    border-radius: 8px;
    border-color: var(--background-secondary)!important;
    background-color: var(--background-secondary);
}

.bd-error-modal {
    background-color: var(--background-primary)!important;
}

.bd-button {
    border-radius: 8px;
}

.modeSelected-346R90 .content-1x5b-n {
    background-color: #1a1820;
}
.selected-aXhQR6 .container-2Pjhx- {
    background-color: #1a1820!important;
}
.selected-aXhQR6 .layout-2DM8Md {
    background-color: #1a1820!important;
}

.applicationStore-1pNvnv {
    background-color: var(--background-primary);
}

.container-1D34oG {
    background-color: var(--background-primary)!important;
}

.peopleList-3c4jOR {
    background-color: var(--background-primary);
}

.nameAndDecorators-5FJ2dg {
    padding-bottom: 1px;
}

.userPopout-xaxa6l {
    width: 300px!important;
}

.content-3YMskv a[href="/channels/@me"], a[href*="/discovery"], a[href*="/store"] {
    margin-left: 45px!important;
}

.searchBarComponent-32dTOx {
    text-align: center;
}

::-webkit-scrollbar-track {
    background: transparent!important; 
}

::-webkit-scrollbar {
    width: 6px!important;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary-alt)!important; 
}

.result-oB0z-- {
    background-color: var(--background-secondary)!important;
    margin-bottom: 5px;
}

.input-2VB9rf {
    text-align: center;
}

.searchBarComponent-32dTOx {
    text-align: center!important;
}

.guildIcon-Ripiyt {
    border-radius: 10px!important;
}

.backdrop-1wrmKB.withLayer-RoELSG {
    backdrop-filter: blur(2px);
}

.spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: var(--background-secondary-alt)!important;
}

.messageGroupWrapper-o-Zw7G {
    border-radius: 8px!important;
}

.messagesPopoutWrap-1MQ1bW, #popout_2795 {
    border-radius: 8px!important;
}

.selected-3s45Ha {
    background-color: #1a1820!important;
}

.swatch-3mFIiP {
    border-radius: 8px;
    border-color: transparent;
}

.root-3-OKEZ {
    background-color: var(--background-secondary)!important;
}

.optionBox-1b4n4P {
    background-color: var(--background-secondary-alt);
    border-radius: 10px;
    border-color: transparent;
}

.root-1gCeng {
    background-color: var(--background-secondary)!important;
}

.content-1LAB8Z {
    background-color: var(--background-secondary)!important;
}

.tabBarItem-3dfX8P {
    background-color: var(--background-secondary)!important;
}

.inviteRow-2L02ae {
    border-radius: 8px;
}

.inviteRow-2L02ae:hover {
    border-radius: 8px;
    background-color: transparent!important;
}

.scroller-2hZ97C {
    background-color: var(--background-primary)!important;
}

.flex-1xMQg5 {
    border-radius: 8px!important;
}

.tiers-3eUU7I {
    border-radius: 8px!important;
}

.tierHeaderContent-3t3DoO {
    border-top-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
    background-color: var(--background-secondary-alt);
}

.tier-2pEkRl {
    border-radius: 8px!important;
}

.tier-2pEkRl div {
    border-radius: 8px;
}

.tierBody-3aUxuc {
    background-color: var(--background-primary)!important;
}

.noResults-ZTbl5V, .scroller-hUf6zQ {
    background-color: var(--background-primary)!important;
}

.popout-103y-5 {
    background-color: var(--background-primary)!important;   
}

.checkbox-1ix_J3 {
    border-radius: 15px;
    width: 15px;
    height: 15px;
}

.headerBar-1YYOfi {
    border: solid;
    border-color: var(--background-primary);
}

.sidebar-2K8pFh {
    margin-bottom: 3px;
    border-radius: 10px;
}

.chat-3bRxxu {
    margin-bottom: 3px;
    border-radius: 10px;
}

.container-1D34oG {
  border-radius: 10px;
  margin-bottom: 3px;
}
.peopleList-3c4jOR {
  background-color: transparent!important;
}
.quickswitcher-3JagVE {
  border: solid;
  border-width: 2px;
  border-color: var(--background-secondary-alt);
  box-shadow: inset 0px 0px 6px var(--background-secondary-alt);
  animation: popup 0.6s;
}

@keyframes popup {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.01);
  }
  60%{
    transform: scale(1.025);
  }
  70%{
    transform: scale(1.02);
  }
  80%{
    transform: scale(1.01);
  }
  90%{
    transform: scale(1.00);
  }
  100%{
    transform: scale(1);
  }
}

.backdrop-1wrmKB {
  animation: bgfade 0.6s;
}

.addFriendInputWrapper-3PjsbB {
  border-radius: 12px;
}

.addFriendInputWrapper-3PjsbB:focus-within {
  border-color: var(--brand-experiment-500);
}

.scrollableContainer-2NUZem {
  background-color: var(--background-accent);
}

.container-3ayLPN {
  border-radius: 8px;
  background-color: var(--background-secondary)!important;
  background: var(--background-secondary)!important;
  border-color: var(--background-secondary)!important;
  box-shadow: inset 0px 0px 10px var(--background-primary);
}
.container-3ayLPN::before {
border-radius: 8px;
background-color: var(--background-secondary)!important;
background: var(--background-secondary)!important;
border-color: var(--background-secondary)!important;
box-shadow: inset 0px 0px 10px var(--background-primary);
}
.container-3ayLPN::after {
border-radius: 8px;
background-color: var(--background-secondary)!important;
background: var(--background-secondary)!important;
border-color: var(--background-secondary)!important;
box-shadow: inset 0px 0px 10px var(--background-primary);
}

#popout_1493 {
border-radius: 8px;
background-color: var(--background-secondary)!important;
background: var(--background-secondary)!important;
border-color: var(--background-secondary)!important;
box-shadow: inset 0px 0px 10px var(--background-primary);
}


.container-3ayLPN a {
border-radius: 8px;
background-color: var(--background-primary)!important;
background: var(--background-primary)!important;
}

.queryContainer-RKFJW-:hover {
border-radius: 8px;
background-color: var(--background-secondary);
}
.queryContainer-RKFJW-:active {
border-radius: 8px;
background-color: var(--background-secondary);
}
.queryContainer-RKFJW-:focus {
border-radius: 8px;
background-color: var(--background-secondary);
}
.queryContainer-RKFJW-:focus-within {
border-radius: 8px;
background-color: var(--background-secondary);
}
.queryContainer-RKFJW-:focus-visible {
border-radius: 8px;
background-color: var(--background-secondary);
}

.option-96V44q {
border-radius: 8px!important;
background-color: var(--background-secondary);
background: var(--background-secondary);
}
.option-96V44q::after {
display: none;
}
.option-96V44q:hover::after {
display: none;
}
.option-96V44q:hover {
border-radius: 8px!important;
background-color: var(--background-secondary-alt)!important;
background: var(--background-secondary-alt)!important;
}


.plusIcon-v0BTrL {
background-color: var(--background-secondary-alt)!important;
opacity: 100%;
border-radius: 10px;
box-shadow: 0px 0px 10px 2px var(--background-secondary-alt);
}

@keyframes bgfade {
0%{
    opacity: 1%;
  }
  50%{
    opacity: 75%;
  }
  100%{
    opacity: 85%;
  }
}
@keyframes down {
0% {
transform: translate(0px, -5px);
}
100% {
transform: translate(0px, 0px);
}
}

.layer-v9HyYc {
animation-name: down;
animation-duration: 0.3s;
}

.layer-v9HyYc {
animation-name: down;
animation-duration: 0.3s;
}

.layer-v9HyYc {
animation-name: down;
animation-duration: 0.3s;
}


.guilds-1SWlCJ ::-webkit-scrollbar {
display: none;
}

.container-1D34oG {
box-shadow: 0px 0px 10px var(--background-secondary);
}

.sidebar-2K8pFh {
box-shadow: 0px 0px 10px var(--background-secondary);
}

.sidebarRegionScroller-3MXcoP {
margin: 10px;
margin-top: 10px;
border-radius: 10px;
}
.sidebar-CFHs9e {
padding-top: 20px;
}
.uploadModal-2ifh8j, .inner-3nWsbo {
    background-color: var(--background-primary)!important;
    border-radius: 12px;
}
.footer-3mqk7D {
    background-color: var(--background-secondary)!important;
    border-radius: 12px!important;
}
