.embedWrapper-lXpS3L {
    border: solid!important;
    border-width: 3px!important;
    border-radius: 8px!important;
    box-shadow: 0px 0px 8px var(--background-secondary-alt)!important;
}

.imageWrapper-2p5ogY, .embedImage-2W1cML, .embedVideo-3nf0O9 {
    border: none!important;
}
